
<h1>Golf Buddies Clubs</h1>


<div class="list-group">

    <% @clubs.each do |club| %>
    <button type="button" class="list-group-item list-group-item-action">
    <%= link_to club.name, club_path(club)%>,
    <%= club.country %>
</button>
    <% end %>
</div>
